@use "../abstract/variable.scss" as v;

#form-wine{
    background-image: url(/public/images/local_images/cave.jpg);
    background-position: center;
    background-size: cover;
    height: auto;
    h1{
        color: white;
        text-align: center;
        font-family: "bold";
        text-transform: uppercase;
        font-size: 3rem;
    }
    .add_form {
        background-color: #88002d9c;
        margin: auto;
        width: 60%;
        color: white;
        font-family: "regular";
    
        form {
            width: 60%;
            margin: auto;
            display: flex;
            flex-direction: column;
    
            div {
                display: flex;
                justify-content: center;
                flex-direction: column;
    
                label {
                    font-size: 20px;
                    padding: 8px 128px;
                    text-align: center;
                }
    
                input {
                    text-align: center;
                    padding: 4px 16px;
                    margin: 0px 128px;
                    border-radius: 4px;
                    border: solid 2px black;
                    font-family: "Regular";
                    font-size: 18px;
                }
            }
    
            .checkbox-group {
                display: flex;
                flex-wrap: wrap;  // Permet de rester en ligne, mais passe à la ligne si nécessaire
                gap: 15px; // Espacement entre chaque checkbox
                align-items: center;
            
                label {
                    display: flex;
                    align-items: center;
                    gap: 5px; // Espacement entre la case et le texte
                    font-size: 16px;
                    white-space: nowrap; // Empêche le texte de passer à la ligne
                }
            
                input[type="checkbox"] {
                    width: 16px; 
                    height: 16px;
                    margin-right: 5px; // Petit espacement entre la case et le texte
                }
            }
            button{
                color: white;
                font-family: "Regular";
                background-color: #88002d9c;
                border: 0;
                cursor: pointer;
                margin: 1rem;
            }    
        }
    }
    
}

#register{
    background-image: url(/public/images/local_images/cave.jpg);
    background-position: center;
    background-size: cover;
    height: 80vh;
    h1{
        color: white;
        text-align: center;
        font-family: "bold";
        text-transform: uppercase;
        font-size: 4rem;
        margin-bottom: 3rem;
    }
    .reg_form{
        background-color: #88002d9c;
        margin: auto;
        width: 60%;
        color: white;
        font-family: "regular";
        form {
            width: 60%;
            margin: auto;
            display: flex;
            flex-direction: column;
            label {
                font-size: 20px;
                padding: 8px auto;
                text-align: center;
                margin-right: 1rem;
            }

            input {
                text-align: center;
                padding: 4px 16px;
                margin-top: 1rem;
                // border-radius: 4px;
                border: solid 2px black;
                font-family: "Regular";
                font-size: 18px;
            }
            button{
                color: white;
                font-family: "Regular";
                background-color: #88002d9c;
                border: 0;
                cursor: pointer;
                margin: 1rem;
            }    
        }
    }
}

#login{
    background-image: url(/public/images/local_images/cave.jpg);
    background-position: center;
    background-size: cover;
    height: 80vh;
    h1{
        color: white;
        text-align: center;
        font-family: "bold";
        text-transform: uppercase;
        font-size: 4rem;
        margin-bottom: 3rem;
    }
    .log_form{
        background-color: #88002d9c;
        margin: auto;
        width: 50%;
        height: 10rem;
        color: white;
        font-family: "regular";
        display: flex;
        flex-direction: column;
        form {
            label {
                font-size: 20px;
                // padding: 8px 128px;
                text-align: center;
            }

            input {
                text-align: center;
                // padding: 4px 16px;
                // margin: 0px 128px;
                border-radius: 4px;
                border: solid 2px black;
                font-family: "Regular";
                font-size: 18px;
            }
            button{
                color: white;
                font-family: "Regular";
                background-color: #88002d9c;
                border: 0;
                cursor: pointer;
                margin: 1rem;
            }    
        }
    }
}
.filter-form{
    width: 100%;
    height: auto;
    background-color: v.$primary-color;
    
    form{
       text-align: center;
       margin: 1rem;
       input{
        margin: 1rem;
        height: 2rem;
        width: 300px;
       }
       select{
        margin: 1rem;
        height: 2rem;
        width: 300px;
       }
       button{
        margin: 1rem;
        height: 2rem;
        width: 300px;
        cursor: pointer;
       }
      
    }
}